body{
    background:url(images/image_de_fond.jpg)  no-repeat center fixed; 
    background-size: cover;
}
li{
    display: inline;
    float: left;
}
a {
    display: block;
    padding: 8px;
    background-color: #fbff00;
  }